.navbar-fixed-left {
  width: 20%;
  position: fixed;
  border-radius: 0;
  height: 100%;
}

.navbar-fixed-left .navbar-nav > li {
  width: 250px;
}

.navbar-fixed-left + .container {
  padding-left: 160px;
}

/* On using dropdown menu (To right shift popuped) */
.navbar-fixed-left .navbar-nav > li > .dropdown-menu {
  margin-top: -50px;
  margin-left: 140px;
}

.navbar-brand
{
  padding-left: 20%;
}

.circular--square {
  padding: 20px;
  width:75%;
  height:25%;
  border-radius: 50%;
}

.socialMedia
{
  padding-top: 40%;
}
