<div style="margin:10%">
  <ol>
    <li><h4>Evolution of the miniature spiders</h4></li>
    <p>The orb-weaving spider super-family Symphytognathoidea comprises the families Anapidae,
      Mysmenidae, Symphytognathidae and Theridiosomatidae. These spiders are minute (&lt;1.5 mm)
      and comprise Patu marplesi, the smallest known spider on the planet. Two recent studies
      indicated varying placements of these families using a few genomic loci and morphology. I will
      be using two advanced phylogenetic methods: transcriptomes (spanning the exons) and target
      capture (covering the ultra-conserved elements (UCEs)) to reconstruct the phylogeny of
      orbicularian spiders. This study will determine the timeline of speciation events and inter-
      relationships between the Symphytognathoid spiders and with other orb-web weaving spiders.</p>

    <br>
    <li><h4>Spiders are becoming smaller: tracing the palp size reduction and its loss</h4></li>
    <p>The tree topologies in the above study will serve as backbone for this study. The anapid and
      symphytognathid female spiders have reduced palp while many of their species have completely
      lost the palps. I will conduct a total evidence analysis using morphology and molecular data.
      Here, optimization of palpal characters on the resulting tree topology will date the evolution of
      palp, its reduction and loss or secondary gain in other spiders. A previous claim that
      ‘miniaturization’ is not convergence can also be tested using advanced techniques. This study
      will provide a greater understanding about character evolution in cryptic arthropods.</p>

    <br>
    <li><h4>Systematics and biogeography of the leucaugine spider genus Orsinome (Araneae,Tetragnathidae)</h4></li>
    <p>The tetragnathid spider genus Orsinome is presently recognized by 17 species, mostly known
      from Asian tropics, many with singular records and restricted distribution. Although a valid
      genus, its diagnostic characters have remained unedited since over 120 years. Within the
      exponentially growing spider phylogenies, this genus has a very poor representation in
      evolutionary studies. I am revising this genus, delimiting its diagnostic characters and describing
      detailed morphological characters. A dated phylogeny using six genomic loci and morphology
      will be used to infer the monophyly of this genus, its relationships within the sub-family
      Leucauginae and other tetragnathids. Using this phylogeny, I will also reconstruct ancestral area
      to trace the past dispersal and/or vicariance events that have define the present distribution of
      Orsinome species. This study will be improve our understanding about why some arachnid
      species in a genus have restricted distribution over other widely distribued species.</p>
  </ol>

</div>
