

<h4>Hi, I'm Siddharth Kulkarni and everything about spiders excites me!</h4>
<!--<p>Did you know, some fun fact about spiders which excites lay people and also scientists.</p>-->


<div class = "contributions text-center" >

  <div class="col-md-6 col-sm-4 contribution ">
    <a target="_blank"><i class="fa fa-sliders fa-4x"></i></a>
    <h4><strong>Reconstructing Spider Evolution</strong></h4>
  </div>



  <div class="col-md-6 col-sm-4 contribution ">
    <a target="_blank"><i class="fa fa-users"></i></a>
    <h4><strong>Citizen Science</strong></h4>
  </div>

</div>
